.page.about {
	.avatar {
		float: right;
		
		background-color: #EEE;
		border-style: solid;
		border-color: #DDD;
		border-width: 1px;
		padding: 8px;
		
		margin: {
			left: 1em;
			bottom: 0.5em;
		}
	}
}